.navBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: #000 solid 1px;
}

.link {
  padding: 0.5em;
  font: var(--FF);
  color: var(--FONTCOLOR);
  text-decoration: none;
  font-size: 1.33em;
}

@media screen and (min-width: 576px) {
  .navBar {
    justify-content: end;
  }
}
